// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";

:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #f6f9fd;
    --light: #95dfd9ec;
    --purple-light: #7895ebe8;
    --dark: #191a1f;
    --blue: #4c8ff4;
    --skyblue: #5177ccb5;
    --code: #091226b5;
    --font: 'monospace';
    --font-size: "12px";
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --input-color: #091226b5;
    --link-title: #00b9b5;
    --dropdown-bg: #f3e9e9b4;
    --dropdown-color: #3a3030;
    --dropdown-hover-color: #0ab4ca;
    --sugestions-bg: #fff;
    --sugestions-color: #091226b5;
    --footer-bg: #5cb659;
    --footer-color: #fff;
    --footer-hover: #3ee7cb;
    --nav-top-bg: #0cb2c4;
    --nav-top-color: #b7b6b6;
    --nav-top-hover-color: #51699c;
    --nav-left-bg: #f1f8f9;
    --nav-left-color: #4c5563;
    --nav-left-hover-color: #693838;
    --apps-title: #fff;
    --apps-bg: #4370aa;
    --app-color: #f7eded;
    --apps-hover-color: #2b2828;
    --apps-menu-bg: #fff;
    --apps-menu-color: #524949;
    --apps-shadow-color: #8f6868;
    --calendar-bg: #9797b6;
    --calendar-color: #faf7f7;
    --calendar-hover-color: #c7d0d1;
    --calendar-day-bg: #3ec2bb;
    --calendar-day-color: #fff;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.btn-primary,
.bg-primary {
    background-color: var(--primary) !important;
    border: var(--primary);
    color: var(--white);
}

.btn-secondary,
.bg-secondary {
    background-color: var(--secondary) !important;
    border: var(--secondary);
    color: var(--white);
}

.btn-ternary,
.bg-ternary {
    background-color: var(--ternary) !important;
    border: var(--ternary);
    color: var(--code);
}

.btn-quaternary,
.bg-quaternary {
    background-color: var(--quaternary) !important;
    border: var(--quaternary);
    color: var(--white);
}

.bg-light {
    background-color: var(--white) !important;
    color: var(--dark) !important;
}

.text-color {
    color: var(--code) !important
}

.router-link-active.router-link-exact-active {
    color: #10102d !important;
    font-weight: bold;
}

.astian-primary {
    background-color: var(--primary);
    color: var(--white);
}

.astian-ligth {
    background-color: var(--white);
    color: var(--dark);
}

.errors {
    color: var(--secondary);
    font-size: var(--font-size);
}

.btn:hover {
    font-weight: bolder !important;
}

.btn i:hover {
    font-weight: bolder !important;
}

.input-theme {
    width: 100%;
    border-color: none;
    border-radius: 0.2em;
    border-color: var(--white);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.2em 0.5em;
    border-color: var(--light);
}

.group {
    display: flex !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0.1em solid var(--light) !important;
    border-radius: 0.2em !important;
    padding: 0.1em 0em !important; 


    .label {
        flex: 1 1 40% !important;
        padding: 0.2em 0.5em !important;
    }

    input {
        flex: 1 1 60% !important;
        border-style: none !important;
        padding: 0.2em 0.3em !important;
    }
}

.circle {
    border-radius: 1em;
    padding: 0.1em 0.3em;
}

div {
    padding: 0;
    margin: 0;
}